<!DOCTYPE html>
<html>
<head>
  <title>Cell scan</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "application", "inter-font", "data-turbo-track": "reload" %>
</head>
<body>

<%= yield %>

</body>
</html>
